@import "../variables";

@keyframes bounceIn {
	0% {
		transform: scale(0.3);
		opacity: 0;
	}
	50% {
		transform: scale(1.1);
		opacity: 1;
	}
	70% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

.header {
	border-bottom: 1px solid $gray-line;
	padding: 40px 0;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 645px) {
			display: flex;
			.header__cart {
				margin-left: 2px;
			}
			.header__logo {
				border-bottom: 2px solid $black;
				img {
					display: none;
				}
				p {
					display: none;
				}
			}
			.button {
				min-width: 20px;
				span {
					display: none;
				}
				&__delimiter {
					display: none;
				}
			}
		}
	}

	&__logo {
		display: flex;
		cursor: pointer;

		img {
			margin-right: 15px;
			animation: bounceIn 1s ease forwards;
		}

		h1 {
			color: $black;
			font-size: 24px;
			letter-spacing: 1%;
			text-transform: uppercase;
			font-weight: 800;
		}

		p {
			color: $gray;
		}
	}
}
